.figCaption {
  text-align: center;
  font-style: italic;
}

.figure {
  max-width: 100%;
  width: 700px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto;
  border-radius: var(--image-border-radius);
}
