.figCaption {
  text-align: center;
  font-style: italic;
}

.figure {
  width: 700px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto;
}

@media screen and (max-width: 996px) {
  .figure {
    width: 100% !important;
  }
}
