/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.bannerContainer {
  width: 70%;
  display: flex;
}

.bannerContainer:after {
  clear: both;
}

.bannerColumn {
  float: left;
  width: 50%;
}

.bannerLogo {
  justify-content: right;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .bannerColumn {
    width: 100%;
  }
  .bannerLogo {
    display: none;
  }
  .bannerContainer {
    width: 100%;
  }
}

.indexCtas {
  --ifm-button-size-multiplier: 1.4;
  display: inline;
}

.indexCtas a {
  color: white;
  background-color: var(--ifm-color-primary-darkest);
  margin: 20px 20px;
}

.indexCtas a:hover {
  background-color: var(--ifm-color-primary-dark);
}

[data-theme='dark'] .indexCtas a {
  color: black;
  background-color: var(--ifm-color-primary-lightest);
}

[data-theme='dark'] .indexCtas a:hover {
  background-color: var(--ifm-color-primary-light);
}

.featureContainer {
  color: var(--ifm-font-color-base);
  border-radius: var(--ifm-pagination-nav-border-radius);
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  margin: 10px;
  max-width: 90%;
}

.featureContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
  text-decoration: none;
}

.featureImage {
  padding: 10px;
}

@media screen and (max-width: 996px) {
  .featureContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
